body
{
	margin: 0;	
}

html
{
	scroll-behavior: smooth;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 99;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.top-nav
{
	background-color: white;
	position: fixed;
	position: -webkit-fixed;
	top: 0;
	width: 100%;
	padding: 5px;
	text-align: center;
	z-index: 99;
	transition: padding 200ms ease-in-out;
	-webkit-transition:padding 200ms ease-in-out;
	box-shadow: 0 5px 5px 0px rgba(46, 49, 49, 0.5);
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.overlay
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 98;
	display: none;
	overflow-x: hidden;
}

.side-bar
{	
	margin-left: -500px;
	display: flex;
	flex-flow: column nowrap;
	background-color: white;
	position: absolute;
	position: -webkit-absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 70%;
	height: 100%;
	padding: 5px;
	text-align: center;
	z-index: 99;
	/*animation: sideBar 400ms ease-in;
	animation-fill-mode: forwards;*/
	align-items: center;		
}

@keyframes sideBar
{
	0%{margin-left: -500px;}
	100%{margin-left: 0;}
}

.top-nav a,.side-bar a
{
	text-decoration: none;
	padding: 12px;
	color: black;
	font-size: 1.2em;
	
}

#icon
{
	display: none;
}

.icon-animate--color
{
	animation: iconChgColor 3000ms infinite ease-in-out;
}

@keyframes iconChgColor
{
	0%{color: inherit;}
	50%{color: red;}
	100%{color: inherit;}
}

.top-nav a:hover
{
	/*background-color: #ecf0f1;*/
	color: #29f1c3 !important;
	transition: color 200ms ease-in;
	-webkit-transition:color 200ms ease-in;
}

.top-nav input[type="text"]
{		
	margin-left: 5%;
	max-width: 600px;
	width: 100%;
	border-radius: 25px;
	padding: 10px;
	border: 2px solid #22313f;
	transition: border 300ms ease-in;
	outline: none;
}

.top-nav input[type="text"]:focus
{		
	border: 2px solid #03a678;
}

.hero-section
{
	position: relative;	
	height: 1200px;	
	
}

.parallax
{	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('https://c.pxhere.com/photos/9e/19/businesswomen_caucasian_consult_consultation_consulting_conversation_discussion_employees-910324.jpg!d');
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: overlay;
	background-color: rgba(0,0,0,0.7);
	background-position: center;
	background-attachment: fixed;	
}

.parallax::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,1);
	z-index: 1;
	max-width: 1200px;
	/*width: 100%;
	padding: 6em calc(50% - 450px);*/
	-webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

.parallax-text
{	
	color: black;
	position: absolute;
	/*top: 50%;
	left: 50%;*/
	top: 30%;
	left: 10%;
	max-width: 700px;
	display: flex;
	flex-flow: column wrap;	
	align-items: center;
	transform: translate(-10%,-30%);
	height: auto;
	z-index: 2;
}

.hero-section .parallax-text::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/*background: #1ce0d0;  Old browsers 
	background: -moz-linear-gradient(-45deg, #1ce0d0 0%, #39ebd0 62%, #93f3e1 100%);  FF3.6-15 
	background: -webkit-linear-gradient(-45deg, #1ce0d0 0%,#39ebd0 62%,#93f3e1 100%);  Chrome10-25,Safari5.1-6 
	background: linear-gradient(135deg, #1ce0d0 0%,#39ebd0 62%,#93f3e1 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
	
	background-color: rgba(255,255,255,0.2);*/
	z-index: -3;
	width: 100%;
	padding: 6em calc(50% - 450px);
	/*-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);*/
}

.parallax-text h2
{
	/*color: #22313f;*/	
	color: #2e3131;
	font-size: 4em;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}

.parallax-text p
{
	margin-left: 5%;
	margin-right: 5%;
	font-size: 1.5em;
	text-align: center;
	color: #6c7a89;
}

.parallax-text button
{
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 17px;
	border-style: none;
	color: #049372;
	background-color: white;
	font-weight: bold;
	max-width: 400px;	
	font-size: 1.3em;
	position: relative;
	transition: transform 300ms ease-in-out;
	-webkit-transition:transform 300ms ease-in-out;
}


.parallax-text button:hover
{
	cursor: pointer;
	transform: scale(1.1);
	color: #f15a22;
	/*transition: background-color,color 500ms ease-in-out;
	animation: btnHover 500ms;
	animation-fill-mode: forwards;*/
}

/*@keyframes btnHover
{
	10%{color: white;}
	100%{color: #049372;background-color: white;font-weight: bold;}
}
*/

.container
{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	position: relative;	
	margin-top: 5%;
	margin-bottom: 5%;
}

.intro-section
{
	position: relative;
	display: flex;
	flex-flow: row wrap;		
	justify-content: center;
	/*padding: 6em calc( 50% - 450px );*/
	height: auto;
	min-height: 70vh;

	
}

.intro-bg
{	
	background: #6fc1ff; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #6fc1ff 0%, #19ffd1 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #6fc1ff 0%,#19ffd1 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #6fc1ff 0%,#19ffd1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
}

.intro-img
{
	position: relative;
	margin-top: 50px;
}

.intro-section img
{
	border-radius: 50%;
	border:3px solid white;
	max-width: 300px;
	max-height: 300px;
	width: 100vw;
	height: 100vw;
	object-fit: cover;
	animation: imgFly 4000ms infinite ease-in-out;
	transition: all 200ms ease-in;
	z-index: 2;	
}

@keyframes imgFly
{
	0%{transform: translateY(0px) scale(0.9);}
	
	30%{
		transform: translateY(-20px);		
	}
	100%{transform: translateY(0px) scale(0.9);}
}

.intro-section .intro-content
{
	opacity: 0;
	padding: 10px;
	max-width: 700px;	
	color: black;	
	margin-left: 3%;
	margin-right: 3%;	

}

.animate-fadeIn
{
	animation: fadeIn 3000ms ease-in;
	animation-fill-mode: forwards;
	animation-delay: 700ms;
}


@keyframes fadeIn
{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.intro-section .intro-content p
{
	font-size: 1.4em;
	letter-spacing: 1.1px;
	font-weight: bold;
	color: white;
}

.intro-section .intro-content h2
{
	font-size: 4em;	
	color: white;
}

.small-section
{
	position: relative;	
	height: 400px;	
}

.small-section .parallax2
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
	background-image: url('https://c.pxhere.com/photos/9e/19/businesswomen_caucasian_consult_consultation_consulting_conversation_discussion_employees-910324.jpg!d');
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: overlay;
	background-color: rgba(255,255,255,0.8);
	background-position: center;
	background-attachment: fixed;	
	width: 100%;	
}

.small-section .parallax2 h2::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0px 3px 0px -1px black;
}

.small-section .parallax2 h2
{
	margin-left: 0;
	margin-right: 0;
	margin-top: -50px;
}

.slider-container
{		
	position: relative;		
	display: flex;	
	flex-flow: row wrap;
	width: 100%;
	/*overflow-x: auto;	*/
	overflow: hidden;
	
	padding-bottom: 50px;
	/*-webkit-overflow-scrolling: touch;
	  -webkit-scroll-snap-points-x: repeat(600px);
      -ms-scroll-snap-points-x: repeat(600px);
          scroll-snap-points-x: repeat(600px);
  -webkit-scroll-snap-type: mandatory;
      -ms-scroll-snap-type: mandatory;
          scroll-snap-type: mandatory;*/
	justify-content: center;
	align-items: flex-start;	
	height: auto;
	/*background-color: red;*/
}

.test
{
	margin-left: -20rem;
	transition: margin-left 300ms ease-in;
}
/* do it later
.slider-card:nth-child(1){
		margin-left: -200px;
}

*/
.dots-container
{

	position: relative;	
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.dots-container .dots
{
	width: 15px;
	height: 15px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 50%;
	background-color: grey;
}

/*.slider-container div:target
{
	margin-left: 300px;
}*/

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.slider-card
{		
	 /*flex-shrink: 0;*/
	 margin: 150px;
	margin-left: 2%;
	margin-right: 2%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 0px 1px silver;
	padding: 50px;
	max-width: 300px;
	max-height: 300px;
	width: 100%;
	height: 100%;
	text-align: center;
	margin-bottom: 50px;	
}

.slider-card p
{
	color: grey;
	background-color: white;
}

.slider-person--job
{
	font-style: italic;
}

.rating-container
{
	display: block;
}

.rating
{
	color: #f5e51b;
}

.slider-card img
{
	max-width: 400px;
	max-height: 400px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.category-section
{
	
	position: relative;	
	background-color: white;
	padding: 6em calc( 50% - 450px);
}

.category-section .container
{	
	position: relative;
	display: flex;
	flex-flow: column wrap;
	background-color: white;
	justify-content: center;	
}

.category-section .intro-content p
{
	font-size: 1.3em;	
	margin-top: 30px;
	text-align: center;
}

.card
{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	max-width: 800px;
	margin-bottom: 30px;
	margin-left: 3%;
	margin-right: 3%;
	/*box-shadow: 0 0 0 2px black;*/
	box-shadow: 1px 2px 3px 2px silver;
}

/* feeds styling*/
.card--column
{
	display: flex;
	flex-flow: column nowrap;		
	align-items: flex-start;
	box-shadow: 1px 1px 5px 1px grey;
	margin: 10px;
	max-width: 600px;
	width: 100%;
	transition: box-shadow 100ms ease-in;
}

.card--column:hover
{
	box-shadow: 2px 2px 8px 2px #6c7a89;
}

.card--column .card-image
{
	/*box-shadow: 0px 2px 0px -1px black;*/
	box-shadow: none;
}

.card--column .card-image img
{
	max-width: 600px;
	width: 100%;
	max-height: 250px;	
	object-fit: cover;
}

.card--column .card-content h2,.card--column .card-content p,.card--column .card-content button
{
	margin-left: 3%;
	margin-right: 3%;
}

.card--column .card-content button
{
	align-self: flex-end;	
}

.card--column .card-content h2
{
	font-size: 2em;
	font-weight: bold;
}

.card--column .card-content p
{	
	word-wrap: break-word;
	font-size: 1.1em;
}

.card--column .card-content
{
	max-width: none;
	width: initial;
	max-height: 300px;
	overflow-y: auto;
}

/* feeds styling end */

.card-image img
{
	max-width: 200px;
	width: 100%;
	height: 200px;
	object-fit: cover;	
}

.card-image
{
	/*box-shadow: 2px 0px 0px -1px black;*/
	padding: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

.card-content
{
	/*box-shadow: -2px 0px 0px -1px black;*/
	padding: 10px;
	max-width: 600px;
	width: 100%;	
}

.card-content p
{
	overflow-y: hidden;
}

.card-content button
{
	padding: 10px;
	background-color: black;
	color: white;
	border-style: none;
	transition: background-color,color,border 300ms ease-in-out;	
	-webkit-transition:background-color,color,border 300ms ease-in-out;
}

.card-content button:hover
{
	cursor: pointer;
	background-color: white;
	color: black;
	border:1px solid black;
}

.card-bookmark
{
	color: #4d05e8;
}

.highlight
{
	color: #1f3a93;
	font-weight: bold;
}

.category-section .intro-img img
{
	height: 600px;	
}

.footer
{	
	height: auto;
	padding: 20px;
	display: flex;
	flex-flow: row nowrap; 
	justify-content: center;
	text-align: center;
	background-color: black;
	font-size: 0.8em;	
	max-width: 100%;
	overflow-x: hidden;
}


.basic-footer a
{
	display: flex;
	margin-left: 30px;
	margin-right: 30px;
	flex-flow: column;
	text-decoration: none;
	color: white;
}

.basic-footer__social
{	
	max-width: 150px;
	width: 100%;
	display: flex;	
	flex-flow: row wrap;
}

.basic-footer__social a
{	
	align-items: center;	
	text-decoration: none;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 1.5em;		
}

.font_Montserrat
{
	font-family: 'Montserrat', sans-serif;
}

.font_News-cycle
{
	font-family: 'News Cycle', sans-serif;
}

.font_Archivo-black
{
	font-family: 'Archivo Black', sans-serif;
}

.font_Merriweather
{
	font-family: 'Merriweather', serif;
}

@media screen and (min-width: 1025px)
{
	.container
	{		
		flex-flow: row nowrap;		
	}

}

@media screen and (max-width: 900px)
{
	.top-nav a:not(:first-child)
	{
		display: none;
	}

	.top-nav input[type="text"]
	{
		display: none;
	}

	.hero-section
	{		
		height: 1500px;		
	}

	#icon
	{
		display: block;
	}

	.parallax-text
	{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}

	.hero-section .parallax
	{
		background-color: white;		
	}


	.hero-section .parallax-text p,.hero-section .parallax-text h2
	{
		color: black;
	}

	.hero-section .parallax::before
	{
		display: none;		
		clip-path: none;
		-webkit-clip-path: none;
	}

	.intro-content
	{
		margin-left: 0;
		margin-right: 0;
	}

	.basic-footer__social a
	{
		margin-bottom: 5px;
	}

	.test
	{
		margin-left: 0;
	}

	.dots-container
	{
		display: none;
	}

}

@media screen and (max-width: 600px)
{
	.card
	{
		flex-flow: row wrap;
	}

/*	.card-image
	{
		box-shadow: 0px 2px 0px -1px black;
	}*/

	.card-image img
	{
		max-width: 100%;
	}		

}